.header-container{
    width:100%;
    height:80px;
    background:rgb(206, 206, 206);
    padding:10px 10px 10px 70px ;
    display: flex;
    

}

.profile-container{
    width:100%;
    height:90vh;
    background:rgb(244, 244, 245);

}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

    a.social:hover {
      transform: translateY(-2px);
    }
    a.youtube {
      color: #eb3223;
    }
    
    a.facebook {
      color: #4968ad;
    }
    
    a.twitter {
      color: #49a1eb;
    }
    
    a.instagram {
      color: black;
    }

    .player-wrapper {
      position: relative;
      padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
    }
    
    .react-player {
      position: absolute;
      top: 0;
      left: 0;
    }
   
    .grid{
     
      padding: 50px;
      
    }
    .grid h3{
      text-align: center;
      font-size: 30px;
      padding-bottom: 20px;
    }
    .grid .grid-items div{
      margin: 20px 0;
      padding: 20px;
      border-radius: 10px;
      background-color: rosybrown;
    }
    @media (min-width:760px){
      .grid .grid-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;

        
      }
      .grid .grid-items div img{
        height: 150px;
        width: 300px;

      }

    }
    @media (min-width: 992px){
      .grid .grid-items{
      grid-template-columns: repeat(3,1fr);
      text-align: center;

  
      }
      


}
   